body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #ebebeb;
    color: #333;
    overflow-x: hidden; /* Para ocultar la barra de desplazamiento horizontal cuando se muestra el menú lateral */
    padding-top: 10px;
}

header {
    text-align: center;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
}

nav {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    width: 100%;
}

h1 {
    color: #6FFF2F;
    font-size: 60px;
    padding: 10px;
}

h2 {
    color: #4CAF50;
    font-size: 35px;
    padding: 10px;
}

h3 {
    color: #333333;
    font-size: 30px;
    padding-top: 15px;
}

h4{
    color: #00ba06;
    font-weight: bold;
    margin-bottom: 30px;
}

h5 {
    color: #0e164d;
    font-size: 20px;
}

section {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

p {
    color: #333;
}

pie {
    color: #fff;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
    position: fixed;
}

#inicio {
    display: flex;
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra horizontalmente */
    flex-direction: column; /* Orienta los hijos en columna */
    height: 100vh; /* Utiliza todo el alto de la ventana del navegador */
    width: 100%; /* Utiliza todo el ancho de la ventana del navegador */
}

#inicio.with-background {
    background-image: url('assets/fondo_inicio.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    padding: 20px;
}

#div-inicio p {
    color: #fff;
    font-size: 20px;
}

#div-inicio.with-background {
    background-color: rgba(95, 95, 95, 0.85);
    padding: 20px;
}

#sobremi p{
    text-align: justify;
}

#sobremi img{
    border-radius: 10%;
}

#contacto {
    padding: 20px;
    margin-bottom: 20px; /* Ajusta este valor según sea necesario */
}

.contacto-info {
    margin-bottom: 20px;
}

.formulario-contacto {
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 20px; /* Ajusta este valor según sea necesario */
}

.formulario-contacto h3 {
    margin-bottom: 10px;
}

.formulario-contacto label {
    display: block;
    margin-bottom: 5px;
}

.formulario-contacto input,
.formulario-contacto textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.formulario-contacto button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.timeline {
    position: relative;
    display: block;
    list-style: none;
    padding-left: 0;
    width: 100%;
  }
  
  .timeline::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 2px;
    height: 95%;
    background-color: #256ad0;
  }
  
  .timeline li {
    position: relative;
    display: block;
    padding-left: 30px;
    padding-bottom: 15px;
    margin-bottom: 20px;
  }
  
  .timeline li::before {
    content: '';
    position: absolute;
    top: 8px;
    left: -8px;
    width: 18px;
    height: 18px;
    background-color: #0e164d;
    border: 3px solid #fff;
    border-radius: 50%;
  }
  
  .timeline li .title {
    width: 165px;
    padding: 6px 20px;
    background-color: #0e164d;
    color: #fff;
    font-weight: 500;
    border-radius: 30px 0 60px 30px;
  }
  
  .timeline li .details {
    background-color: #efefff;
    margin-top: 8px;
    padding: 20px;
    border-radius: 4px;
  }
  
  .timeline li .details h5,
  .timeline li .details p {
    margin-bottom: 0;
  }
  
  .timeline li .details small {
    display: block;
    font-weight: 500;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #1b4482;
  }

  .timeline li .details p {
    text-align: justify;
  }

.icon-box img {
    width: 45px; /* Ajusta el ancho del ícono según tus necesidades */
    height: 45px;
}

.bloque-aptitudes {
    padding-bottom: 40px;
}

.aptitud:hover {
    transform: scale(1.1); /* Slightly increase the size of the image */
}

span {
    color: #006aff;
}

.grayBckgr{
    background-color: lightgray;
}

.seccion {
    padding-top: 5%;
    padding-bottom: 5%;
}

.titulo-tecnologias{
    color: #00a906;
}

.grupo-tecnologias{
    display: flex;
    margin-bottom: 40px;
    padding: 20px;
    border-radius: 10px;
    background-color: #cbffc9;
    border: 2px solid #ccc; /* Borde de 1 píxel sólido gris */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    align-items: center;
    place-content: center;
    justify-content: space-around;
    position: relative;
    margin: 20px auto;
    flex-wrap: wrap;
}

.tecnologia img {
    max-width: 100px;
    display: block;
    margin: 0 auto;
}

.tecnologia b {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    text-align: center;
}

.tecnologia:hover {
    transform: scale(1.1); /* Slightly increase the size of the image */
}

#projectCarousel img {
    width: 400px; /* Ajusta el ancho del ícono según tus necesidades */
    height: 250px;
}

#projectCarousel {
    width: 100%;
    max-width: 100vw;
}

#projectCarousel a {
    text-decoration: none;
    color: inherit;;
}

#projectCarousel .carousel-control-prev,
#projectCarousel .carousel-control-next {
    width: 60px; /* Ajusta el ancho según sea necesario */
    height: 60px; /* Ajusta la altura según sea necesario */
    font-size: 30px; /* Ajusta el tamaño del texto según sea necesario */
    margin-top: auto; /* Empuja los botones hacia abajo para centrarlos en altura */
    margin-bottom: auto; /* Empuja los botones hacia arriba para centrarlos en altura */
}

#projectCarousel .visually-hidden {
    font-size: 0; /* Oculta el texto "Anterior" y "Siguiente" visualmente */
}


#projectCarousel .carousel-control-prev-icon,
#projectCarousel .carousel-control-next-icon {
    width: 40px; /* Ajusta el ancho del ícono según sea necesario */
    height: 40px; /* Ajusta la altura del ícono según sea necesario */
    background-color: #333; /* Reemplaza "tu-color" con el color que desees */
}

/* Cambiar el color de las flechas al pasar el ratón sobre ellas */
#projectCarousel .carousel-control-prev:hover,
#projectCarousel .carousel-control-next:hover {
    background-color: #6FFF2F; /* Reemplaza "tu-color-hover" con el color que desees al pasar el ratón */
}

.carousel-item:hover {
    background-color: #cbffc9;
}

.carousel-item img{
    margin-bottom: 30px;
}


/* Estilo adicional para el título de la sección de formación */
#formacion h2 {
    margin-bottom: 25px; /* Ajusta este valor según tus necesidades */
}

#download-button {
    display: inline-block;
    margin-top: 10px; /* Ajusta este valor según tus necesidades */
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#download-button:hover {
    background-color: #45a049;
}